@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 align-content-center">Nothing is here :) Head to our Donors list using the top left corner's button.</h1>
    
</div>
